
.molho{
  
    background-color: aqua;
    width: 5%;
}
.bobo{
    display: flex;
    justify-content: center;

}
.boloi{
    display: flex;
    justify-content: center;
}
.cdd{
    display: flex;
    justify-content: center;
}

